@page "/traits/details"
@using Microsoft.EntityFrameworkCore
@using TraitBrowser.Models
@inject IDbContextFactory<TraitBrowserWebApp.Data.TraitBrowserContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Trait</h2>
    <hr />
    @if (trait is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">TraitId</dt>
            <dd class="col-sm-10">@trait.TraitId</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@trait.Name</dd>
            <dt class="col-sm-2">Genre</dt>
            <dd class="col-sm-10">@trait.Genre</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@trait.Description</dd>
        </dl>
        <div>
            <a href="@($"/traits/edit?id={trait.Id}")">Edit</a> |
            <a href="@($"/traits")">Back to List</a>
        </div>
    }
</div>

@code {
    private Trait? trait;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        trait = await context.Trait.FirstOrDefaultAsync(m => m.Id == Id);

        if (trait is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
